<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>project3</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginappp</servlet-name>
    <servlet-class>loginapp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginapp</servlet-name>
    <url-pattern>/servlet/loginapp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchpage</servlet-name>
    <servlet-class>searchpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchpage</servlet-name>
    <url-pattern>/servlet/searchpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>appsearchpage</servlet-name>
    <servlet-class>search_page_app</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appsearchpage</servlet-name>
    <url-pattern>/servlet/searchpageapp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>movieinfo</servlet-name>
    <servlet-class>movieinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movieinfo</servlet-name>
    <url-pattern>/servlet/movieinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>starinfo</servlet-name>
    <servlet-class>starinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>starinfo</servlet-name>
    <url-pattern>/servlet/starinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>genresearch</servlet-name>
    <servlet-class>genresearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>genresearch</servlet-name>
    <url-pattern>/servlet/genresearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>browsegenre</servlet-name>
    <servlet-class>browsegenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>browsegenre</servlet-name>
    <url-pattern>/servlet/browsegenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/servlet/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shoppingcart</servlet-name>
    <servlet-class>shoppingcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingcart</servlet-name>
    <url-pattern>/servlet/shoppingcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finalinfo</servlet-name>
    <servlet-class>finalcheckout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finalinfo</servlet-name>
    <url-pattern>/servlet/finalcheckout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkcc</servlet-name>
    <servlet-class>checkccinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkcc</servlet-name>
    <url-pattern>/servlet/checkccinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>_dashboard</servlet-name>
    <servlet-class>_dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_dashboard</servlet-name>
    <url-pattern>/servlet/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dLoginpage</servlet-name>
    <servlet-class>dLoginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dLoginpage</servlet-name>
    <url-pattern>/servlet/dLoginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dLogin</servlet-name>
    <servlet-class>dLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dLogin</servlet-name>
    <url-pattern>/servlet/dLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add_movie</servlet-name>
    <servlet-class>add_movie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_movie</servlet-name>
    <url-pattern>/servlet/add_movie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addstar</servlet-name>
    <servlet-class>addstar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstar</servlet-name>
    <url-pattern>/servlet/addstar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>metadata</servlet-name>
    <servlet-class>metadata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>metadata</servlet-name>
    <url-pattern>/servlet/metadata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>moviesuggestion</servlet-name>
    <servlet-class>movie_suggestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>moviesuggestion</servlet-name>
    <url-pattern>/servlet/movie_suggestion</url-pattern>
  </servlet-mapping>
</web-app>