<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2changz.ldmovie">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <activity
        android:name=".launch_login"
        android:label="idmovie"             >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".search_page"
        android:label="Search Page" />
    <activity
        android:name=".result_page"
        android:label="Result Page" />






    </application>
</manifest>
